/* Authors: Katie Hummel and Kari Hoff
  Filename: styles.class
	Purpose: Custom styles for CS 330 Midterm (MOBS)
	Date: 3 April 2018 */

@charset "utf-8";

body {
	font-family: 'Cardo', serif;
	font-family: 'Quattrocento', serif;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

/* Navigation */
.cardColor {
	color: white;
}

/* Book and movie search buttons */
.findBttPosition {
    margin-top: 30px;
}

/* Book and movie search headers */
.searchHeaders {
    text-align: center;
}

/* Column styles for div output */
.column {
    float: left;
    width: 50%;
    padding: 10px;
}

/* Book and movie images */
img {
    float: left;
}

/* Hide, unhide the display output div */
.hidden {
    display:none;
}

.unhidden {
    display:block;
}

/* Footer */
.footer {
	background-color: #6351ce;
	height: 150px;
	padding: 2.5%;
	margin-top: auto;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;

}

.footer div {
	float: left;
	width: 33%;
}

/* TMDB Logo in footer */
img#TMDBlogo {
	width: 150px;
	float: left;
}

#TMDBdisclaimer {
	font-size: 15px;
	color: black;
	text-align: right;
	width: 75%;
	float: right;
}
