@charset "utf-8";

body {
	font-family:'Montserrat', sans-serif;
}

div.output {
	padding: 5%;
}

img#TMDBlogo {
	width: 15%;
}

.findBttPosition {
    margin-top: 30px;
}

#searchHeaders {
    text-align: center;
}
