@charset "utf-8";

body {
	font-family: 'Cardo', serif;
	font-family: 'Quattrocento', serif;
}

div.output {
	padding: 5%;
}

.findBttPosition {
    margin-top: 30px;
}

#findBkBtt {
	margin-left: 45px;
}

#searchHeaders {
    text-align: center;
}

.cardColor {
	color: white;
}
